<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer mode="side" opened class="sidenav">
      <mat-toolbar color="primary">Menú</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/menu/persona" [routerLinkActive]="['activelink']"  (click)="mostrarNotificacion('Sección Personas')">
          <mat-icon>person</mat-icon>
          <span class="menu-text">Personas</span>
        </a>
        <a mat-list-item routerLink="/partidos">
          <mat-icon>groups</mat-icon>
          <span class="menu-text">Partidos</span>
        </a>
        <a mat-list-item routerLink="/votaciones">
          <mat-icon>how_to_vote</mat-icon>
          <span class="menu-text">Votaciones</span>
        </a>
        
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="drawer.toggle()" class="hide-on-large">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Votaciones 2025</span>
      </mat-toolbar>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  