<mat-toolbar class="custom-navbar">
  <div class="navbar-left">
    <mat-icon class="logo-icon">how_to_vote</mat-icon>
    <span class="title">Votaciones 2025</span>
  </div>

  <div class="navbar-links">


    <a mat-button routerLink="/menu/partidos" routerLinkActive="activelink" (click)="mostrarNotificacion('Sección Partidos')">
      <mat-icon>groups</mat-icon>
      <span>Partidos</span>
    </a>

    <a mat-button routerLink="/menu/cronograma" routerLinkActive="activelink">
      <mat-icon>event</mat-icon>
      <span>Cronograma</span>
    </a>

    <a mat-button routerLink="/menu/propuestas" routerLinkActive="activelink">
      <mat-icon>lightbulb</mat-icon>
      <span>Propuestas</span>
    </a>

    <a mat-button routerLink="/menu/galeria" routerLinkActive="activelink">
      <mat-icon>photo_library</mat-icon>
      <span>Galería</span>
    </a>

    <a mat-button routerLink="/menu/votacion" routerLinkActive="activelink">
      <mat-icon>how_to_vote</mat-icon>
      <span>Votaciones</span>
    </a>
  </div>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
