<button class="btn btn-primary my-3" (click)="nuevo()">
    Nueva Propuesta
  </button>
<div class="container mt-4">
    <h2>Propuestas</h2>

    <table class="table table-bordered table-hover">
      <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Partido</th>
            <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
          @for(propuesta of propuestaResource.value() ?? []; track propuesta.id) {
            <tr>
              <td>{{ propuesta.nombre }}</td>
              <td>{{ propuesta.descripcion }}</td>
              <td>
                {{ getNombrePartido(propuesta.partidoId) }}

              </td>
              <td>
                <div class="d-flex justify-content-center gap-2">
                  <!-- Botón Editar -->
                  <button class="btn btn-sm btn-outline-primary" title="Editar" (click)="editar(propuesta)">
                      <i class="fas fa-pen"></i>
                  </button>

                  <!-- Botón Eliminar -->
                  <button
                      class="btn btn-sm btn-outline-danger" title="Deshabilitar" (click)="eliminar(propuesta)">
                      <i class="fas fa-trash"></i>
                  </button>
                </div>
              </td>

            </tr>
          }
        </tbody>

    </table>

  </div>

  @if(isLoading()){
    <mat-spinner></mat-spinner>
    }
