<button class="btn btn-primary my-3" (click)="nuevo()">
    Nuevo Evento
  </button>
<div class="container mt-4">
    <h2>Cronograma</h2>

    <table class="table table-bordered table-hover">
      <thead class="table-dark">
        <tr>
            <th>Actividad</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Descripción</th>
            <th>Partido</th>
            <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
          @for(cronograma of cronogramaResource.value() ?? []; track cronograma.id) {
            <tr>
              <td>{{ cronograma.actividad }}</td>
              <td>{{ cronograma.fecha | date:'yyyy-MM-dd' }}</td>
              <td>{{ cronograma.hora }}</td>
              <td>{{ cronograma.descripcion }}</td>
              <td>
                {{ getNombrePartido(cronograma.partidoId) }}

              </td>

              <td>
                <div class="d-flex justify-content-center gap-2">
                  <!-- Botón Editar -->
                  <button class="btn btn-sm btn-outline-primary" title="Editar" (click)="editar(cronograma)">
                      <i class="fas fa-pen"></i>
                  </button>

                  <!-- Botón Eliminar -->
                  <button
                      class="btn btn-sm btn-outline-danger" title="Deshabilitar" (click)="eliminar(cronograma)">
                      <i class="fas fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>

    </table>

  </div>
