<div class="glass-container">
  <mat-card class="glass-card mat-elevation-z10">
    <div class="card-icon-header">
      <mat-icon class="icon-lock">how_to_vote</mat-icon>
    </div>

    <mat-card-title class="title">Sistema de Votación</mat-card-title>
    <mat-card-subtitle class="subtitle">Ingrese su C.I. para participar</mat-card-subtitle>

    <form [formGroup]="form">
      <mat-card-content class="content">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Cédula de Identidad</mat-label>
          <input matInput placeholder="Ej: 12345678" formControlName="ci" />
          <mat-icon matPrefix>badge</mat-icon>
        </mat-form-field>

        @if(msg()!=''){
          <div class="alert-box">
            <mat-icon class="alert-icon">info</mat-icon>
            <span class="alert-text">{{msg()}}</span>
          </div>
        }
      </mat-card-content>

      <mat-card-actions class="form-actions">
        <button mat-stroked-button color="primary" type="button" (click)="form.reset()">
          <mat-icon>refresh</mat-icon>
          Limpiar
        </button>
        <button mat-raised-button color="accent" [disabled]="form.invalid" (click)="onEntrar()">
          <mat-icon>login</mat-icon>
          Entrar
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
