<div class="login-container">
    <mat-card class="login-card" appearance="outlined">
      <mat-card-header class="login-header">
        <div mat-card-avatar class="login-avatar">
          <mat-icon>lock</mat-icon>
        </div>
        <mat-card-title>VOTACIONES</mat-card-title>
        <mat-card-subtitle>Bienvenido al sistema de votaciones</mat-card-subtitle>
      </mat-card-header>
  
      <form [formGroup]="form">
        <mat-card-content>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Cédula de Identidad</mat-label>
            <input matInput placeholder="Ej: 12345678" formControlName="ci">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
  
          @if(msg()!=''){
            <mat-card class="warning-card" appearance="outlined">
              <mat-card-content class="warning-text">{{msg()}}</mat-card-content>
            </mat-card>
          }
  
        </mat-card-content>
  
        <mat-card-actions class="actions">
          <button mat-stroked-button color="primary" type="button" (click)="form.reset()">Limpiar</button>
          <button mat-flat-button color="accent" [disabled]="form.invalid" (click)="onEntrar()">Entrar</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
  